apiVersion: v1
kind: ResourceQuota
metadata:
  name: climate-quota
  namespace: climate
spec:
  hard:
    requests.cpu: "8"
    requests.memory: 16Gi
    limits.cpu: "16"
    limits.memory: 32Gi
    pods: "50"
    services: "10"
    persistentvolumeclaims: "10"
